[`pandas`](http://pandas.pydata.org/)

[`visual guide to pandas`](https://www.youtube.com/watch?v=9d5-Ti6onew)

https://www.youtube.com/watch?v=5JnMutdy6Fw

https://www.youtube.com/watch?v=rIofV14c0tc

https://www.youtube.com/watch?v=GkU-VzL-3Vk

https://www.youtube.com/watch?v=suX147xwWg4

https://youtu.be/k7X7sZzSXYs

http://nosebotpress.blogspot.ae/2017/01/scared-straight-educational-ponderables.html#more

http://www.lepantoinstitute.org/

http://discoverthenetworks.org/

https://www.quora.com/What-is-the-best-freelance-website-for-beginners-and-why

https://www.youtube.com/watch?v=Sn-beSK3rv4

https://www.youtube.com/watch?v=29ji7iEwq_I

http://dl-vip.pcfaster.baidu.co.th/Baidu_Cleaner_Setup_Mini_GL58.exe

http://www.portablefreeware.com/?id=2392

**axis=0:** *pick operands from* **rows**; keep column constant

**axis=1:** *pick operands from* **columns**; keep row constant

In [1]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as sm

In [2]:
tsdf = pd.DataFrame(np.random.randn(10, 3), columns=['A', 'B', 'C'],index=pd.date_range('1/1/2000', periods=10))
tsdf.iloc[3:7] = np.nan
tsdf

                   A         B         C
2000-01-01 -0.963858 -0.338555 -0.192538
2000-01-02 -1.865309 -0.533191 -0.513530
2000-01-03  0.369787 -0.971173 -0.574561
2000-01-04       NaN       NaN       NaN
2000-01-05       NaN       NaN       NaN
2000-01-06       NaN       NaN       NaN
2000-01-07       NaN       NaN       NaN
2000-01-08  0.539646  1.231713 -0.265739
2000-01-09  0.490187  0.077623  1.224600
2000-01-10 -1.355631 -0.415791 -0.223972

In [4]:
tsdf.agg(['sum', 'mean'])

             A         B         C
sum  -2.785178 -0.949375 -0.545740
mean -0.464196 -0.158229 -0.090957